<%= render "communities/community_sidebar" %>
  
<div class="main">
  <div class="community-main-heading">
    <div class="community-main-menu">
      <%= link_to "みんなのタスク", community_path(@community), class:"community-navigation" %>
      <%= link_to "チャット", community_chats_path(@community), class:"community-navigation" %>
      <%= link_to "質問", community_questions_path(@community), class:"community-navigation question" %>
    </div>
  </div>
  <div class="posts">
    <div class="communities-main-menu-under">
      <% if current_user.already_joined?(@community) %>
          <%= link_to "質問する", new_community_question_path, class:"create-question btn" %>
      <% else %>
        <p class="need-join-message">質問投稿にはコミュニティ参加が必要です</p>
      <% end %>
    </div>
    <div class="question-cards">
      <% @questions.each do |question| %>
        <%= link_to community_question_path(@community, question) do %>
          <div class="question-summary-card">
            <div class="question-summary-head">
              <span class="question-title"><%= question.title %>
              <span class="question-date"><%= l question.created_at, format: :short %></span> 
            </div>
            <div class="question-summary-status">
              <div class="question-summary-response">
                <span class="question-summary-metoo">知りたい！<%= question.me_toos.count %></span>
                <span class="question-summary-good">役に立った！<%= question.goods.count %></span>
              </div>
              <% if question.state %>
                <span class="question-summary-close">解決済み</span>
              <% else %>
                <span class="question-summary-open">受付中</span>
              <% end %>
            </div>
            <div class="like-area">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>