<div class="menu-bar">
  <div class="menu-bar-box">
    <div class="community-name"><%= @community.name %></div>
    <div class="community-text"><%= @community.text %></div>
    <% if current_user.id == @community.user.id %>
      <%= link_to "編集する", edit_community_path(@community), class:"community-edit-btn" %>
    <% elsif current_user.already_joined?(@community) %>
      <%= link_to "脱退する", exit_community_path(@community), method: :delete, class:"community-exit-btn" %>
    <% else %>
      <%= link_to "参加する", community_path(@community), method: :post, class:"community-join-btn" %>
    <% end %>
    <div class="menu-items">
      <div class="community-members">
        参加ユーザー <span><%= @joined_users.count %></span>
      </div>
      <div class="community-completed-tasks">
        参加者の完了タスク <%= @tasks.where(state: true).count %>
      </div>
      <div class="question-and-answer">
        質問 <%= @questions.count%>
        解決 <%= @questions.where(state: true).count %>
      </div>
    </div>
  </div>
</div>
  
<div class="main">
  <div class="community-main-heading">
    <div class="main-menu">
      <%= link_to "みんなのタスク", community_path(@community), class:"community-navigation" %>
      <%= link_to "チャット", community_chats_path(@community), class:"community-navigation" %>
      <%= link_to "質問", community_questions_path(@community), class:"community-navigation" %>
    </div>
  </div>
  <div class="question-area">
    <%= link_to "一覧にもどる", community_questions_path(@community), class:"back-questions-btn" %>
    <div class="question-card">
    
      <%= link_to @question.user.name, user_path(@question.user), class:"question-user" %>
      <div class="question-title">
        <%= @question.title %>
        <% if @question.user.id == current_user.id %>
          <%= link_to "編集する", edit_community_question_path(@community, @question), class:"edit-btn" %>
        <% end %>
      </div>
      <div class="question-content">
        <%= @question.content %>
      </div>
      <% if @question.image.present? %>
        <%= image_tag @question.image.variant(resize: "500x500"), class:"question-image" %>
      <% end %>

      <div class="question-response-area">
        <% if current_user.already_me_too?(@question) %>
          <%= link_to "知りたい！解除", question_me_too_path(@question), method: :delete, class:"metoo-btn" %>
        <% else %>
          <%= link_to "知りたい！", question_me_toos_path(@question), method: :post, class:"metoo-btn" %>
        <% end %>
        <div class="metoo-count"><%= @question.me_toos.count %></div>
        
        <% if current_user.already_good?(@question) %>
          <%= link_to "役に立った！解除", question_good_path(@question), method: :delete, class:"good-btn" %>
        <% else %>
          <%= link_to "役に立った！", question_goods_path(@question), method: :post, class:"good-btn" %>
        <% end %>
        <div class="good-count"><%= @question.goods.count %></div>

        <% if @question.state %>
          <%= link_to "解決済み", resolve_community_question_path(@community, @question), method: :patch, class:"question-close" %>
        <% else %>
          <%= link_to "受付中", resolve_community_question_path(@community, @question), method: :patch, class:"question-open" %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="answer-area">
    <p class="answer-label">コメント一覧</p>
    <% @answers.each do |answer| %>
      <div class="answer-card">
        <div class="answer-user">
          <%= link_to answer.user.name, user_path(answer.user) %>
        </div>
        <div class="answer-comment">
          <%= answer.text %>
        </div>
      </div>
    <% end %>
    <%= form_with model: [@question, @answer], local: true, class:"answer-form-area" do |f| %>
      <p class="answer-form-label">コメントする</p>
      <%= f.text_area :text, class:"answer-form" %>
      <%= f.submit "投稿", class:"answer-submit-btn" %>
    <% end %>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>