<%= render partial: "communities/community_sidebar" %>

<div class="main">
  <div class="community-main-heading">
    <div class="community-main-menu">
      <%= link_to community_path(@community), class:"community-navigation" do %>
        <%= image_tag "check.png", size: "18x18", class: "task-icon" %><span>みんなのタスク</span>
      <% end %>
      <%= link_to community_chats_path(@community), class:"community-navigation" do %>
        <%= image_tag "chat_man.png", size: "18x18", class: "chat-icon" %><span>チャット</span>
      <% end %>
      <%= link_to community_questions_path(@community), class:"community-navigation question" do %>
        <%= image_tag "question.png", size: "18x18", class: "question-icon" %><span>質問</span>
      <% end %>
    </div>
  </div>
  <div class="question-and-answer-area">
    <div class="question-area">
      <%= link_to "<< 一覧にもどる", community_questions_path(@community), class:"back-questions-btn" %>
      <div class="question-card">
        <div class="question-user">
          <% if @question.user.profile.image.present? %>
            <%= link_to image_tag(@question.user.profile.image.variant(resize: "50x50"), class:"user-image"), user_path(@question.user) %>
          <% end %>
          <%= link_to @question.user.name, user_path(@question.user), class:"question-user-name" %>
        </div>
        <div class="question-title">
          <%= @question.title %>
          <% if @question.user.id == current_user.id %>
            <%= link_to "編集する", edit_community_question_path(@community, @question), class:"edit-btn" %>
          <% end %>
        </div>
        <div class="question-content">
          <%= @question.content %>
        </div>
        <% if @question.image.present? %>
          <%= image_tag @question.image.variant(resize: "500x500"), class:"question-image" %>
        <% end %>

        <div class="question-response-area">
          <div id="question_<%= @question.id %>">
            <%= render partial: "shared/me_too", locals: { question: @question } %>
          </div>

          <div id="good_question_<%= @question.id %>">
            <%= render partial: "shared/good", locals: { question: @question } %>
          </div>

          <% if @question.state %>
            <%= link_to "解決済み", resolve_community_question_path(@community, @question), method: :patch, class:"question-close btn" %>
          <% else %>
            <%= link_to "受付中", resolve_community_question_path(@community, @question), method: :patch, class:"question-open btn" %>
          <% end %>
        </div>

      </div>
    </div>
    <div class="answer-area">
      <p class="answer-label">コメント一覧</p>
      <% @answers.each do |answer| %>
        <div class="answer-card">
          <div class="answer-user">
            <% if answer.user.profile.image.present? %>
              <%= link_to image_tag(answer.user.profile.image.variant(resize: "50x50"), class:"user-image"), user_path(answer.user) %>
            <% end %>
            <%= link_to answer.user.name, user_path(answer.user), class:"answer-user-name" %>
          </div>
          <div class="answer-comment">
            <%= answer.text %>
          </div>
        </div>
      <% end %>
      <%= form_with model: [@question, @answer], local: true, class:"answer-form-area" do |f| %>
        <p class="answer-form-label">コメントする</p>
        <%= f.text_area :text, placeholder:"回答してみよう！", class:"answer-form" %>
        <%= f.submit "投稿", class:"answer-submit btn" %>
      <% end %>
    </div>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>