<div class="registration-wrapper">
  <div class="registration-container">
    <div class="registration-heading">
      新規登録
    </div>
    <%= form_for(resource, url: user_registration_path, class:"registration-form") do |f| %>

      <%# エラーメッセージ表示 %>
      <%= render 'shared/error_messages', model: resource %>

      <div class="registration-item">
        <span class="label">なまえ <span class="must">*必須</span></span>
        <%= f.text_field :name, class:"form-box" %>
      </div>
      
      <div class="registration-item">
        <span class="label">Eメール <span class="must">*必須</span></span>
        <%= f.email_field :email, class:"form-box" %>
      </div>

      <div class="registration-item">
        <span class="label">パスワード <span class="must">*必須</span></span>
        <%= f.password_field :password, class:"form-box" %>
      </div>

      <div class="registration-item">
        <span class="label">パスワード(確認) <span class="must">*必須</span></span>
        <%= f.password_field :password_confirmation, class:"form-box" %>
      </div>

      <%= f.fields_for :profile do |f| %>
        <div class="registration-item">
          <%= f.label "職種", class:"label" %>
          <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {include_blank: "選択して下さい"}, {class:"form-box"}) %>
        </div>

        <div class="registration-item">
          <%= f.label "自己紹介", class:"label" %>
          <%= f.text_area :text, class:"form-box" %>
        </div>

        <div class="registration-item">
          <span class="label">プロフィール画像</span>
          <%= f.file_field :image, class:"form-attach" %>
        </div>

        <%= f.submit "登録", class:"submit-btn" %>
      <% end %>

    <% end %>
  </div>
</div>