<div class="task-post-form">
  <%= form_with model: [user, task], remote: true, id:"taskForm" do |f|%>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="task-form">
      <%= f.label "タスク", class:"task-label"%>
      <%= f.text_field :title, placeholder: "なにする？", class:"task-input", id:"taskTitle" %>
    </div>
    <div class="task-form">
      <%= f.label "内容", class:"task-label"%>
      <%= f.text_area :text, placeholder: "メモもしとく？", class:"task-input text", id:"taskText" %>
    </div>
    <%= f.submit "登録", class:"task-submit btn" %>
  <% end %>
</div>
