<div class="menu-bar">
  <div class="menu-bar-box">
    <div>
      <% if @profile.image.present? %>
        <%= image_tag @profile.image.variant(resize: "150x150"), class:"profile-image" %>
      <% end %>
    </div>
    <ul class="menu-items">
      <li>ユーザー名: <%= @user.name %> <%= link_to " 編集", edit_user_registration_path(@user) %> </li>
      <li>フォロー</li>
      <li>フォロワー</li>
      <li>参加コミュニティ</li>
      <li>ユーザーを探す</li>
      <li>コミュニティを探す</li>
    </ul>
  </div>
</div>
  
<div class="main">
  <div class="task-post-form">
    <%= form_with model: [@user, @task], local: true do |f|%>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="task">
        <%= f.label "タスク", class:"task-label"%>
        <%= f.text_field :title, class:"task-input" %>
      </div>
      <div class="task">
        <%= f.label "内容", class:"task-label"%>
        <%= f.text_area :text, class:"task-input text" %>
      </div>
      
      <%= f.submit "投稿", class:"submit-btn" %>

    <% end %>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>
