<div class="menu-bar">
  <div class="menu-bar-box">
    <p class="menu-bar-head">ユーザー検索</p>
    <div class="menu-items">
      <%= form_with scope: :search, url: users_path, method: :get, local: true do |f| %>
        <div class="search-field">
          <%= f.label :text, "キーワード", class:"search-label" %>
          <%= f.text_field :text, value: @search_params[:text], class:"search-text" %>
        </div>
        <div class="search-field">
          <%= f.label :occupation_id, "職種", class:"search-label" %>
          <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {selected: @search_params[:occupation_id], include_blank: "選択しない"}, {class:"search-occupation"}) %>
        </div>
        <div class="search-btn-area">
          <%= f.submit "検索", class:"search-btn" %>
        </div>
      <% end %>
      <div class="search-cancel">
        <%= link_to "検索解除", users_path, class:"search-cancel-btn" %>
      </div> 
    </div>
  </div>
</div>
  
<div class="main">
  <div class="posts">
    <%= render partial: "users_index", locals: { users: @users } %>
  </div>
</div>