<%= render partial: "users/sidebar", locals: { user: @user, profile: @profile, following_users: @following_users, follower_users: @follower_users, room: @room } %>
  
<div class="main">
  <div class="tasks-heading">
    <% if user_signed_in? && (current_user.id == @user.id) %>
      <div class="tasks-heading-navi-box">
        <%= link_to "マイタスク", user_path(current_user), class:"tasks-heading-navi my-tasks" %>
        <%= link_to "仲間のタスク", follow_tasks_user_path(current_user), class:"tasks-heading-navi" %>
      </div>
      <%= render partial: "tasks/task_form", locals: { user: @user, task: @task } %>
    <% end %>  
  </div>
  <div class="user-posts">
    <span class="task-index-comment">タスク一覧</span>
    <div class="posts-cards", id="postCards">
      <% @tasks.each do |task| %>
        <div id="task_<%= task.id %>">
          <%= render partial: "shared/tasks", locals: { task: task } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
    <span class="coming-soon">Coming Soon!</span>
  </div>
</div>
