<div class="wrapper">

  <div class="menu-bar">
    <div class="menu-bar-box">
      <div>
        <% if @profile.image.present? %>
          <%= image_tag @profile.image.variant(resize: "150x150"), class:"profile-image" %>
        <% end %>
      </div>
      <ul class="menu-items">
        <li>ユーザー名: <%= @user.name %> <%= link_to " 編集", edit_user_registration_path(@user) %> </li>
        <li>フォロー</li>
        <li>フォロワー</li>
        <li>参加コミュニティ</li>
        <li>ユーザーを探す</li>
        <li>コミュニティを探す</li>
      </ul>
    </div>
  </div>
    
  <div class="main">
    <div class="main-heading">
      <%= link_to "投稿する", new_user_task_path(@user), class:"task-post-btn" %> 
    </div>
    <ul class="posts">
      <% @tasks.each do |task| %>
        <div class="post-card">
          <div class="post-user"><%= link_to task.user.name, user_path(task.user), class:"post-user-name" %></div>
          <div class="post-title"><%= task.title %></div>
          <div class="post-text"><%= task.text %></div>
          <div class="edit-area">
            <a href="", class="edit-btn">編集</a>
            <a href="", class="delete-btn">削除</a>          
            <a href="" class="complete-btn">完了</a>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
  
  <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div>
  
</div>