<div class="post-card">
  <div class="post-user">
    <% if task.user.profile.image.present? %>
      <%= link_to image_tag(task.user.profile.image.variant(resize: "50x50"), class:"user-image"), user_path(task.user) %>
    <% end %>
    <%= link_to task.user.name, user_path(task.user), class:"user-name" %>
    <span class="task-date"><%= l task.created_at, format: :short %></span>
  </div>
  <div class="post-title">
    <%= task.title %>
  </div>
  <div class="post-text"><%= task.text %></div>
  <% if user_signed_in? && (task.user.id == current_user.id) %>
    <div class="edit-area">
      <%= link_to edit_user_task_path(task.user, task.id), class: "edit-btn" do %>
        <i class="fas fa-pencil-alt"></i><span class="edit-btn-text">編集</span>
      <% end %>
      <%= link_to user_task_path(task.user, task.id), method: :delete, class:"delete-btn" do %>
        <i class="far fa-trash-alt"></i><span class="delete-btn-text">削除</span>
      <% end %>
      <% if !task.state %>
        <%= link_to "完了!!", done_user_task_path(task.user, task.id), method: :patch, class:"complete btn" %>
      <% else %>
        <span class="completed-btn">完了</span>
      <% end %>
    </div>
  <% end %>
  <div class="like-area">
    <% if current_user.already_liked?(task) %>
      <div>
        <%= link_to task_like_path(task.id, task_id: task.id), method: :delete, remote: true do %>
          <i class="fas fa-heart unlike-btn"></i>
        <% end %>
      </div>
    <% else%>
      <div>
        <%= link_to task_likes_path(task_id: task.id), method: :post, remote: true do %>
          <i class="fas fa-heart like-btn"></i>
        <% end %>
      </div>
    <% end %>
    <div class="like-count"><%= task.likes.count %></div>  
  </div>
</div>
