<div class="wrapper">

  <div class="menu-bar">
    <div class="menu-bar-box">
    <%= link_to "コミュニティ作成", new_community_path, class:"community-create-btn" %>
      <div class="menu-items">
        <%= form_with scope: :search, url: communities_path, method: :get, local: true do |f| %>
          <div class="search-field">
            <%= f.label :text, "キーワード", class:"search-label" %>
            <%= f.text_field :text, value: @search_params[:text], class:"search-text" %>
          </div>
          <div class="search-field">
            <%= f.label :catergory_id, "カテゴリー", class:"search-label" %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {selected: @search_params[:category_id], include_blank: "選択しない"}, {class:"search-category"}) %>
          </div>
          <div class="search-btn">
            <%= f.submit "検索" %>
          </div>
        <% end %>
        <div class="search-cancel-btn">
          <%= link_to "検索解除", users_path %>
        </div> 
      </div>
    </div>
  </div>
    
  <div class="main">
    <div class="main-heading">
    </div>
      <ul class="posts">
        <% @communities.each do |community| %>
          <div class="post-card">
            <div class="post-title"><%= link_to community.name, community_path(community) %></div>
            <div class="post-text"><%= community.text %></div>
            <% if community.user.id == current_user.id %>
              <div class="edit-area">
                <%= link_to "編集", edit_community_path(community), class:"edit-btn" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
  </div>
  
  <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div>
  
</div>