<div class="menu-bar">
  <div class="menu-bar-box">
    <p class="menu-bar-head"><i class="fas fa-search"></i>コミュニティ検索</p>
    <div class="menu-items">
      <%= form_with scope: :search, url: communities_path, method: :get, local: true do |f| %>
        <div class="search-field">
          <%= f.label :text, "キーワード", class:"search-label" %>
          <%= f.text_field :text, value: @search_params[:text], class:"search-text" %>
        </div>
        <div class="search-field">
          <%= f.label :catergory_id, "カテゴリー", class:"search-label" %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {selected: @search_params[:category_id], include_blank: "選択しない"}, {class:"search-category"}) %>
        </div>
        <div class="search-btn-area">
          <%= f.submit "検索", class:"search btn" %>
        </div>
      <% end %>
      <div class="search-cancel">
        <%= link_to "検索解除", communities_path, class:"search-cancel-btn" %>
      </div> 
    </div>
  </div>
</div>
  
<div class="main">
  <div class="search-heading">
    <div class="search-menu">
      <%= link_to "ユーザー", users_path, class:"search-navigation" %>
      <%= link_to "コミュニティ", communities_path, class:"search-navigation communities" %>
    </div>
    <%= link_to "コミュニティを作る", new_community_path, class:"community-create btn" %>
  </div>
  <div class="posts">
    <div class="community-cards">
      <% @communities.each do |community| %>
        <%= link_to community_path(community) do %>
          <div class="community-card">
            <div class="community-card-head">
              <span class="community-title"><%= community.name %></span>
            </div>
            <div class="community-text">
              詳細：<%= community.text %>
            </div>
            <div class="community-category">
              カテゴリー：<%= community.category.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
