<div class="menu-bar">
  <div class="menu-bar-box">
    <p class="menu-bar-head">コミュニティ検索</p>
    <%= link_to "作成する", new_community_path, class:"community-create-btn" %>
    <div class="menu-items">
      <%= form_with scope: :search, url: communities_path, method: :get, local: true do |f| %>
        <div class="search-field">
          <%= f.label :text, "キーワード", class:"search-label" %>
          <%= f.text_field :text, value: @search_params[:text], class:"search-text" %>
        </div>
        <div class="search-field">
          <%= f.label :catergory_id, "カテゴリー", class:"search-label" %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {selected: @search_params[:category_id], include_blank: "選択しない"}, {class:"search-category"}) %>
        </div>
        <div class="search-btn">
          <%= f.submit "検索" %>
        </div>
      <% end %>
      <div class="search-cancel">
        <%= link_to "検索解除", users_path, class:"search-cancel-btn" %>
      </div> 
    </div>
  </div>
</div>
  
<div class="main">
  <div class="main-heading">
  </div>
    <div class="posts">
      <% @communities.each do |community| %>
        <div class="community-card">
          <div class="community-card-head">
            <%= link_to community.name, community_path(community), class:"community-title" %>
            <% if community.user.id == current_user.id %>
              <%= link_to "編集する", edit_community_path(community), class:"edit-btn" %>
            <% end %>
          </div>
          <div class="community-text">
            詳細：<%= community.text %>
          </div>
          <div class="community-category">
            カテゴリー：<%= community.text %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>
