<div class="wrapper">

  <div class="menu-bar">
    <div class="menu-bar-box">
      <ul class="menu-items">
      </ul>
    </div>
  </div>
    
  <div class="main">
    <div class="main-heading">
    </div>
    <ul class="posts">
      <% @tasks.each do |task| %>
        <div class="post-card">
          <div class="post-user"><%= link_to task.user.name, user_path(task.user), class:"post-user-name" %></div>
          <div class="post-title"><%= task.title %></div>
          <div class="post-text"><%= task.text %></div>
          <% if user_signed_in? && (task.user.id == current_user.id) %>
            <div class="edit-area">
              <%= link_to "編集", edit_user_task_path(task.user, task.id), class:"edit-btn" %>
              <%= link_to "削除", user_task_path(task.user, task.id), method: :delete, class:"delete-btn" %>
              <% if !task.state %>
                <%= link_to "完了にする", done_user_task_path(task.user, task.id), method: :patch, class:"complete-btn" %>
              <% else %>
                <span class="completed-btn">完了</span>
              <% end %>
            </div>
          <% end %>
          <div class="like-area">
            <% if current_user.already_liked?(task) %>
              <div><%= link_to "いいね解除", task_like_path(task.id), method: :delete, class:"like-btn" %></div>
            <% else%>
              <div><%= link_to "いいね", task_likes_path(task.id), method: :post, class:"like-btn" %></div>
            <% end %>
            <div class="like-count"><%= task.likes.count %></div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
  
  <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div>
  
</div>