<div class="menu-bar">
  <div class="menu-bar-box">
    <div class="community-name"><%= @community.name %></div>
    <div class="community-text"><%= @community.text %></div>
    <% if current_user.id == @community.user.id %>
      <%= link_to "編集する", edit_community_path(@community), class:"community-edit-btn" %>
    <% elsif current_user.already_joined?(@community) %>
      <%= link_to "脱退する", exit_community_path(@community), method: :delete, class:"community-exit btn" %>
    <% else %>
      <%= link_to "参加する", community_path(@community), method: :post, class:"community-join btn" %>
    <% end %>
    <div class="menu-items">
      <div class="community-members">
        参加ユーザー <span><%= @joined_users.count %></span>
      </div>
      <div class="community-completed-tasks">
        参加者の完了タスク <%= @tasks.where(state: true).count %>
      </div>
      <div class="question-and-answer">
        質問 <%= @questions.count%>
        解決 <%= @questions.where(state: true).count %>
      </div>
    </div>
  </div>
</div>
  
<div class="main">
  <div class="community-main-heading">
    <div class="main-menu">
      <%= link_to "みんなのタスク", community_path(@community), class:"community-navigation task" %>
      <%= link_to "チャット", community_chats_path(@community), class:"community-navigation" %>
      <%= link_to "質問", community_questions_path(@community), class:"community-navigation" %>
    </div>
  </div>
  <div class="posts">
    <% @remain_tasks.each do |task| %>
      <span id="task_<%= task.id %>">
        <%= render partial: "shared/tasks", locals: { task: task } %>
      </span>
    <% end %>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>