<div class="header">
  <% if user_signed_in? %>
    <%= link_to "ロゴ", user_path(current_user), class:"header-left" %>
  <% else %>
    <%= link_to "ロゴ", new_user_session_path, class:"header-left" %>
  <% end %>

  <div class="header-right">
    <ul class="header-menu">
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "コミュニティ一覧",communities_path %> </li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "#{current_user.name}", user_path(current_user) %></li>
      <% end %>
    </ul>
  </div>
  
</div>