<div class="header">

  <% if user_signed_in? %>
    <%= link_to image_tag("logo_gray.png", height: "50", width: "150"), user_path(current_user), class:"header-left" %>
  <% else %>
    <%= link_to image_tag("logo_gray.png", height: "50", width: "150"), new_user_session_path, class:"header-left" %>
  <% end %>

  <div class="header-right">
    <div class="header-menu">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <span class="header-separater">|</span>
        <%= link_to user_path(current_user), class:"header-current_user" do %>
          <%= image_tag(current_user.profile.image, class:"header-current_user-image") %>
          <span class="header-current_user-name"><%= current_user.name %></span>
        <% end %>
        <span class="header-separater">|</span>
        <%= link_to users_path, class:"header-users" do %>
          <%= image_tag "users.png", class: "header-users-icon" %>
          <span class="header-users-title">仲間を探す</span>
        <% end %>
        <span class="header-separater">|</span>
        <%= link_to communities_path, class:"header-communities" do %>
         <%= image_tag "community_white.png", class: "header-communities-icon" %>
         <span class="header-communities-title">コミュニティを探す</span>
        <% end %>
      <% end %>
    </div>
  </div>
  
</div>