<div class="header">

  <% if user_signed_in? %>
    <%= link_to image_tag("logo_gray.png", height: "50", width: "150"), user_path(current_user), class:"header-left" %>
  <% else %>
    <%= link_to image_tag("logo_gray.png", height: "50", width: "150"), new_user_session_path, class:"header-left" %>
  <% end %>

  <div class="header-right">
    <ul class="header-menu">
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー検索", users_path %></li>
        <li class="header-separater">|</li>
        <li><%= link_to "コミュニティ検索",communities_path %> </li>
        <li class="header-separater">|</li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li class="header-separater">|</li>
        <li><%= link_to "#{current_user.name}", user_path(current_user) %></li>
      <% end %>
    </ul>
  </div>
  
</div>