<div class="header">

  <% if user_signed_in? %>
    <%= link_to image_tag("logo_gray.png", height: "50", width: "150"), user_path(current_user), class:"header-left" %>
  <% else %>
    <%= link_to image_tag("logo_gray.png", height: "50", width: "150"), new_user_session_path, class:"header-left" %>
  <% end %>

  <div class="header-right">
    <div class="header-menu">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <span class="header-separater">|</span>
        <%= link_to "#{current_user.name}", user_path(current_user) %>
        <span class="header-separater">|</span>
        <%= link_to "ユーザ", users_path %>
        <span class="header-separater">|</span>
        <%= link_to "コミュニティ",communities_path %> 
      <% end %>
    </div>
  </div>
  
</div>