<!DOCTYPE html>
<html>
  <head>
    <title>Goal Share!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: "layouts/header" %>
    </header>
    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <footer>
      <%= render partial: "layouts/footer" %>
    </footer>
  </body>
</html>
