<!DOCTYPE html>
<html>
  <head>
    <title>TaskShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: "layouts/header" %>
    </header>
    
    <%= yield %>

    <footer>
      <%= render partial: "layouts/footer" %>
    </footer>
  </body>
</html>
